*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Inter Tight", sans-serif;
}
.books-section{
    padding: 16px;
}
.book-div{
    z-index: 1;
    border:none;
    padding:8px 8px 16px 8px;
    width: 160px;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1 ;
    border-radius: 5px;
    gap:8px;
    color:rgb(33, 33, 33);
    text-decoration: none;
    transition: all ease 300ms;

}
.book-div:hover{
    cursor: pointer;
    background-color: #dcdbdb;
    scale: 1.03;

}
.category{
    font-size: 11px;
    font-weight: 600;
}
.book-img{
    z-index: -1;
    display: block;
    width: 100%;
    height: 200px;
}
.book-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
    height: 100%;
    gap:4px;
    text-align: center;
}
.book-title{
    font-size: 16px;
}
.author{
    font-size: 12px;
    font-weight: 300;
}

.books-section{
    margin:2em auto;
    max-width: 800px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-around;
}
